[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Suck My xXxWheelsxXx: 420 Edition: The Movie: The Game Edition Gold Platinum Limited Christmas Edition New Year\'s Special (with DLC)
Comment=The Game
Exec=~/SuckMyWheels/SuckMyWheels
Terminal=false